* {
  box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.character-show {
  margin-top: 0;
  height: 800px;
}

.coming-soon {
  color: white;
  font-size: 20px;
}

#main-section {
  background-image: url('../images/character-background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  position: relative;
  background-attachment: fixed;
}

.footage {
  background-image: url('../images/character-background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  position: relative;
  background-attachment: fixed;
  height:;
  background-color: #c93a3a;
  font-family: 'Architects Daughter', cursive;
  font-size: 55px;
}

.gif-section {
  height: 720px;
  margin-left: 35px;
}

.gif img 
{
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
}

.gallery-title
{
  font-family: 'Architects Daughter', cursive;
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  margin-right: 35px;
  background-color: #c93a3a;
}

.search-bar {
  position: absolute;
  left: 45%;
  top: 63%;
  width: 400px;
  margin-right: -400px;
  margin-left: -137px;
}

.label {
    font-size: 24px;
    margin-left: 65px;
    font-family: 'Exo', sans-serif;
}

.header {
    position: relative;
}

.spidey {
    width: 100%;
    height: 780px;
}

.herohead {
  width: 100%;
  height: 780px;
}

#recent {
  color: #D0D0D0;
}

#recent h4 {
  color: ;
}

.logo {
    position: absolute;
    left:50%;
    top: 20%;
  margin-right: -250px;
  margin-left: -250px;
}

.pic {
 height: 500px;
 width: 500px;
 border: 9px solid white;
 margin-left: 100px;
 margin-top: 100px;
 border-radius: 10px;
}

.character-show {
  height: 700px;
}

.comic-pic {
  width: 120px;
  height: 180px;
  margin-top: 10px;
  margin-right: 15px;
  border: 5px solid white;
}

.comic-book-section {
  margin-top: 10px;
}

.hide-show {
  margin-top: -20px;
  width: 100%;
}

#bio {
  height: 700px;
}

.form-control
{
  font-family: 'Architects Daughter', cursive;
  */ font-size: 20px;
}

.wrapper {
   border:1px solid #000;
   display:inline-block;
   position:relative;
   width: 450px;
}

input,
.text-button {
   background-color:transparent;
   border:0;
}

.text-button {
   position:absolute;
   right:0;
   top:0;
   width: 70px;
   height: 34px;
   border: 2px solid #cccccc ;
   border-radius: 5px;
   background-color: #c93a3a;
   color: white;   
}

input {
   padding-right:30px; /* button padding */
}

.desc-text {
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.desc-searches {
  color: gray;
  font-family: 'Architects Daughter', cursive;
  font-size: 12px;
}

.desc-header {
  margin-top: 100px;
  font-family: 'Unmasked BB';
  src: url('assets/font/UnmaskedBB_bold.ttf');
  color: black;
}

.name-header {
  font-family: 'Unmasked BB';
  src: url('assets/font/UnmaskedBB_bold.ttf');
  color: white;
  font-size: 55px;
}

.comic-header {
  margin-top: 40px;
  font-family: 'Unmasked BB';
  src: url('assets/font/UnmaskedBB_bold.ttf');
  color: black;
}

.comic-button {
  display: block;
  padding: 10px;
  color: #c93a3a;
  font-family: 'Architects Daughter', cursive;
  background-color: white;
  border-radius: 7px;
  margin-top: 15px;
}

.comic-button:hover {
  color: #c93a3a;
  background-color: white;
  transition-duration: 0.4s; 
}

#map{
  height: 800px;
  width: 100%;
 
}
.bio-section-row {
  margin-top: 0;
  background-image: url('../images/bio-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bio-section {
  height: 700px;
  margin-left: 20px;
  text-align: center;
}

.bio-header {
  margin-top: 100px;
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 40px;
}

.bio-img {
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border: 5px solid white;
  border-radius: 50%;
}

.bio-modal {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.bio-text {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-right: 10px;
}

.bio-section img:hover{ 
  background-color:#f2f2f2; 
  color:#336699 !important; 
  text-shadow:0 1px 1px #ccc;
  -webkit-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  -moz-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  -o-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
}

.name {
  color: white;
}

.title {
  font-style: italic;
  color: #DB3D3F;
}

/*******MEDIA QUERIES*********/
@media only screen and (min-width: 1200px) {
   .logo {
    width: 450px;
    height: 200px;
    left: 54%;
  }
  .search-bar {
    top: 50%;
    left: 47%;
  }
  #recent {
    position: absolute;
    top: 20%;
    left: 33%;
    font-size: 24px;
  }

}
@media only screen and (max-width: 1200px) {
    .bio-img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
  }
   .logo {
    width: 450px;
    height: 200px;
    left: 56%;
  }
  .search-bar {
    top: 50%;
    left: 47%;
  }
  #recent {
    position: absolute;
    top: 20%;
    left: 33%;
    font-size: 24px;
  }

  .pic {
   height: 450px;
   width: 400px;
   border: 7px solid white;
  }

.comic-pic {
  width: 100px;
  height: 160px;
  
}
}
@media only screen and (max-width: 995px) {
  .logo {
    width: 450px;
    height: 200px;
    left: 56%;
  }
  .mic {
    width: 90px;
    height: 90px;
    left: 57%;
  }
  .search-bar {
    width: 380px;
    height: 117px;
    left: 43%;
  }
  .label {
    margin-left: 55px;
  }
    .bio-img {
    margin-top: 100px;
    width: 160px;
    height: 160px;
    margin-right: 5px;
  }
  .name {
    color: white;
    font-size: 18px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 14px;
}

.desc-text {
  font-size: 16px;
}

 .pic {
   height: 420px;
   width: 330px;
   border: 7px solid white;
  }

.comic-pic {
  width: 90px;
  height: 180px;
}
}

@media only screen and (max-width: 870px) {
  .desc-text {
  font-size: 24px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

#pic-area {
  width: 100%;
}

#bio {
  width: 100%;
}

 .pic {
   display: block;
   margin-right: auto;
   margin-left: auto;
   height: 500px;
   width: 500px;
   border: 7px solid white;

  }

  .bio-header-section {
    margin-top: 20px;
  }

.comic-pic {
  width: 130px;
  height: 200px;
  margin-left: 20px;
}

#bio {
  text-align: center;
}

.desc-header, .comic-header {
  color: #D7892A;
  font-size: 30px; 
}

}

@media only screen and (max-width: 765px) {
  .logo {
    top: 15%;
    width: 450px;
    height: 250px;
    left: 59%;
  }
  .mic {
    width: 70px;
    height: 70px;
    left: 60%;
    top: 38%;
  }
  #recent {
    font-size: 20px;
  }
  .search-bar {
    top: 50%;
  }
  .label {
    font-size: 20px;
    margin-left: 37px;
  }
    .bio-img {
    margin-top: 100px;
    width: 260px;
    height: 260px;
    margin-right: 5px;
  }
  .name {
    color: white;
    font-size: 24px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 20px;
  }
}

@media only screen and (max-width: 870px) {
  .desc-text {
  font-size: 24px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

#pic-area {
  width: 100%;
}

#bio {
  width: 100%;
}

 .pic {
   height: 500px;
   width: 500px;
  }

.comic-pic {
  width: 100px;
  height: 170px;
  margin-left: 20px;
}

#bio {
  text-align: center;
}

.desc-header, .comic-header {
  color: #D7892A;
  font-size: 30px; 
}

}

@media only screen and (max-width: 564px) {
  .spidey {
    height: 550px;
  }
  .logo {
    width: 300px;
    height: 200px;
    left: 70%;
    top: 15%;
  }
  .mic {
    left: 65%;
    top: 30%;
  }
  .search-bar {
    left: 50%;
    top: 42%;
  }
  .wrapper {
    width: 320px;
  }
    .bio-img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-left: -17px;
  }
  #recent {
    left: 20%;
    font-size: 15px;
  }
  .bio-header {
    font-size: 24px;
  }
  .name {
    color: white;
    font-size: 14px;
  }
   #searchbox {
    font-size: 11px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 12px;
  }
}

@media only screen and (max-width: 545px) {
  .desc-text {
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

#pic-area {
  width: 100%;
}

#bio {
  width: 100%;
}

 .pic {
   height: 400px;
   width: 400px;
  }

  .bio-header-section {
    margin-top: 20px;
  }

.comic-pic {
  width: 80px;
  height: 140px;
  margin-left: 10px;
}

#bio {
  text-align: center;
}

.desc-header, .comic-header {
  color: #D7892A;
  font-size: 30px; 
}

}
@media only screen and (max-width: 448px) {
  .spidey {
    min-height: 550px;
  }
  .logo {
    left: 74%;
    top: 10%;
  }
  .mic {
    left: 65%;
    top: 30%;
  }
  .search-bar {
    left: 49%;
    top: 48%;
   
  }
  #heroholder {
    height: 80%;
  }
  #recent {
    font-size: 18px;
  }
  .wrapper {
    width: 300px;
  }
  #searchbox {
    font-size: 11px;
  }
    .bio-img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-left: -17px;
  }
  .bio-header {
    font-size: 24px;
  }
  .name {
    color: white;
    font-size: 14px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 12px;
  }
}

@media only screen and (max-width: 440px) {
  
 .pic {
  display: inline;
  width: 300px;
  height: 300px;
  text-align: center;
  border: none;
  margin-left: 60px;
  }

.comic-pic {
  width: 60px;
  height: 120px;
}

#heroname {
  font-size: 55px;
}

}
  