* {
  box-sizing: border-box;
}
.container-fluid {
	padding: 0;
	margin: 0;
}

.character-show {
  margin-top: 0;
  height: 800px;
}
#main-section {
  background-image: url('../images/character-background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
	margin-top: 0;
	position: relative;
	background-attachment: fixed;
}

.search-bar {
	position: absolute;
	left: 45%;
	top: 63%;
	width: 400px;
  margin-right: -400px;
  margin-left: -137px;
}

.label {
	font-size: 24px;
	margin-left: 65px;
	font-family: 'Exo', sans-serif;
}

.header {
	position: relative;
}

.mic {
  position: absolute;
  top: 45%;
  left: 53%;
  width: 100px;
  height: 100px;
  margin-right: -100px;
  margin-left: -100px;
}

.spidey {
	width: 100%;
	height: 780px;
}

.herohead {
  width: 100%;
  height: 780px;
}


.logo {
	position: absolute;
	left:50%;
	top: 20%;
  margin-right: -250px;
  margin-left: -250px;

}

.pic {
  height: 400px;
  width: 400px;
  border: 5px solid white;
  margin-left: 100px;
  margin-top: 100px;
}

.character-show {
  height: 1200px;
}

.comic-pic {
  width: 120px;
  height: 180px;
  margin-top: 10px;
  margin-right: 15px;
  border: 5px solid white;
}

.comic-book-section {
  margin-top: 10px;
}

.hide-show {
  width: 100%;
}

#bio {
  height: 500px;
}

.form-control
{
font-family: 'Architects Daughter', cursive;

*/ font-size: 20px;

}

.desc-text {
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.desc-header {
  margin-top: 100px;
  font-family: 'Unmasked BB';
  src: url('assets/font/UnmaskedBB_bold.ttf');
  color: white;
}

.comic-header {
  margin-top: 20px;
  font-family: 'Unmasked BB';
  src: url('assets/font/UnmaskedBB_bold.ttf');
  color: white;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
	margin-top: 20px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  font-size: 20px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: #2E88A9;
  font-family: 'Exo', sans-serif;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FF5268;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
  border-radius: 10px;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#map{
  height: 500px;
  width: 100%;
 
}
.bio-section-row {
  margin-top: 0;
  background-image: url('../images/bio-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.bio-section {
  height: 700px;
  margin-left: 20px;
  text-align: center;
}

.bio-header {
  margin-top: 100px;
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 40px;
}

.bio-img {
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border: 5px solid white;
  border-radius: 50%;
}

.bio-modal {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.bio-text {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-right: 10px;
}
.bio-section img:hover{ 
  background-color:#f2f2f2; 
  color:#336699 !important; 
  text-shadow:0 1px 1px #ccc;
  -webkit-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  -moz-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
  -o-box-shadow: 0 3px 0 #ccc, 3px 5px 3px red;
}

.name {
  color: white;
}
.title {
  font-style: italic;
  color: #DB3D3F;
}



/*******MEDIA QUERIES*********/
@media only screen and (max-width: 1100px) {
    .bio-img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 995px) {

  .logo {
    width: 400px;
    height: 100px;
    left: 56%;
  }

  .mic {
    width: 90px;
    height: 90px;
    left: 57%;
  }

  .search-bar {
    width: 380px;
    height: 117px;
  }

  .label {
    margin-left: 55px;
  }
    .bio-img {
    margin-top: 100px;
    width: 160px;
    height: 160px;
    margin-right: 5px;
  }
  .name {
    color: white;
    font-size: 18px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 14px;

}
}

@media only screen and (max-width: 765px) {

  .logo {
    width: 300px;
    height: 80px;
    left: 65%;
  }

  .mic {
    width: 70px;
    height: 70px;
    left: 60%;
    top: 38%;
  }

  .search-bar {
    width: 300px;
    height: 100px;
    left: 50%;
    top: 55%;
  }

  .label {
    font-size: 20px;
    margin-left: 37px;
  }

  .hvr-shutter-out-horizontal {
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
  }
    .bio-img {
    margin-top: 100px;
    width: 260px;
    height: 260px;
    margin-right: 5px;
  }
  .name {
    color: white;
    font-size: 24px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 20px;

  }
}



@media only screen and (max-width: 554px) {
  .spidey {
    height: 350px;
  }
  .logo {
    left: 74%;
    top: 0;
  }

  .mic {
    left: 65%;
    top: 30%;
  }
  .search-bar {
    left: 51%;
  }
    .bio-img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-left: -17px;
  }
  .bio-header {
    font-size: 24px;
  }
  .name {
    color: white;
    font-size: 14px;
  }
.title {
  font-style: italic;
  color: #DB3D3F; 
  font-size: 12px;
  }
}

  









